#root {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  display: block;
  background-image: url(/Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-mode {
  background-image: url(/Images/rainy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff !important;
}
